.b-flat-call-sip-account__credentials-turn-server > div {
  margin-bottom: var(--common-margin);
}

.b-flat-call-sip-account .b-flat-call-sip-account__credentials-turn-server {
  margin-bottom: var(--big-margin);
}

.b-flat-call-sip-account__divider--mt-large {
  margin-top: var(--large-margin);
}

.b-flat-call-sip-account__radio-buttons {
  margin-bottom: var(--big-margin);
}

.b-sip-settings__inner-list .b-sip-settings__inner-list-turn-inputs + .b-save-settings-buttons button {
  margin-bottom: 0;
}

.b-flat-call-sip-account__radio-buttons .MuiFormControlLabel-root {
  justify-content: space-between;
}
