.b-emergency-call-sip-account__divider--mt-large {
  margin-top: var(--large-margin);
}

.b-emergency-call-sip-account__divider--mb-small {
  margin-bottom: var(--small-margin);
}

.b-emergency-credential__credentials-turn-server {
  margin-bottom: var(--big-margin);
}

.b-emergency-call-sip-account__radio-buttons {
  margin-bottom: var(--large-margin);
}

.b-emergency-call-sip-account__radio-buttons .MuiFormControlLabel-root {
  justify-content: space-between;
}
